# Ignore everything in the root except the readme, license, and "mods" directory.
/*
!.gitignore
!README.md
!LICENSE
!mods/

# Ignore user files anywhere inside the "mods" directory.
mods/**/*.user
mods/**/bin/*
mods/**/obj/*